<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <div class="container">

        <table class="table table-striped">

            <tr>
                <td>Flavour</td>
                
                <td>image</td>
                <td>Action</td>
            </tr>

            {%for ck in cakes%}
            <tr>
                <td>{{ck.flavour}}</td>
                
                <td>
                    <img src="{{ck.image.url}}" alt="" width="100px" height="200px" style="object-fit: contain;">
                </td>

                <td>
                    <a href="{%url 'cake-remove' ck.id%}" class="btn btn-outline-danger">delete</a>
                    
                    <a href="{%url 'add-varient' ck.id%}" class="btn btn-outline-success">add cakevarient</a>
                    <a href="{%url 'cake-detail' ck.id%}" class="btn btn-outline-info">view</a>
                </td>
            </tr>
            {%endfor%}

        </table>




    </div>


</body>

</html>